
.product-div {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 200px;
    background-color: rgb(206, 206, 213);
    border-radius: 15px;
}

.product-text {
    font-size: 30px;
}




.product-filters {
    display: flex;
    gap: 20px;
    font-size: 30px;
    margin-top: 10px;
   
}

.filter-group {
    display: flex;
    flex-direction: column;
    
    
}

.filter-group label {
    font-weight: bold;
    margin-bottom: 5px;
    
}



.product-showcase.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns for laptops */
    gap: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.product-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card-img {
height: 10px;
width: 200px;
}